@using XenoBooru.Web.Services;
<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YDR791MK7F"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WC549G2N09');
	</script>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="robots" content="index, follow" />
	<meta name="description" content="A site that let's you explore 3D map models from 1998 jRPg Xenogears." />

	<title>@ViewData["Title"] | XMV</title>
	@RenderSection("Stylesheets", required: false)

</head>
<body>
	<header>
		<div id="title">
			<a asp-controller="Home" asp-action="Index"><h1>Xenogears Map Viewer</h1><h2>Xenobooru <span id="alpha">α</span></h2></a>
		</div>

		<nav id="menu">
			<ul id="menu-options">
				<li><a asp-controller="Post" asp-action="Index">Posts</a></li>&nbsp;|&nbsp;
				<li><a asp-controller="Tag" asp-action="Index">Tags</a></li>&nbsp;|&nbsp;
				<li><a asp-controller="Pool" asp-action="Index">Pools</a></li>&nbsp;|&nbsp;
				<li><a asp-controller="Comment" asp-action="Index">Comments</a></li>&nbsp;|&nbsp;
				<li><a asp-controller="Home" asp-action="Login">Login</a></li>&nbsp;|&nbsp;
				<li><a asp-controller="Home" asp-action="Downloads">Downloads</a></li>
			</ul>
		</nav>
	</header>

	<div id="notices">
		@if (AuthenticationService.CheckAuthFailure(TempData))
		{
			<div class="status-notice">
				You are not authenticated <a asp-controller="Home" asp-action="Login">Login page</a>
			</div>
		}
		@RenderSection("Notices", required: false)
	</div>

	<div class="sidebar">
		@RenderSection("Sidebar", required: false)
	</div>

	<main id="content">
		@RenderBody()
	</main>


	<footer>
		<div class="footer-section">
			Made by:&nbsp;Paraon, 2021
		</div>
		<div class="footer-section">
			Find me on:&nbsp;
			<a href="https://twitter.com/turtle_guy_" target="_blank"><img src="~/icons/Twitter.png" /></a>&nbsp;|
			<a href="https://github.com/Quattro-Bajeena/xeno-booru" target="_blank"><img src="~/icons/GitHub.png" /></a>&nbsp;|
			<a href="https://www.youtube.com/channel/UCINPzzjxRzGOq4Pex5r3EKg" target="_blank"><img src="~/icons/YouTube.png" /></a>
		</div>
		<div class="footer-section">
			<a asp-controller="Home" asp-action="MapViewerApp">Desktop App</a>
		</div>
		<div class="footer-section">
			<a asp-controller="Home" asp-action="About">About</a>
		</div>

	</footer>

	
	@await RenderSectionAsync("Scripts", required: false)
	@Html.PageScripts()

</body>
</html>
