@model XenoBooru.Web.ViewModels.PostSearchViewModel

@{
	ViewData["Title"] = "Maps";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/post_index.css" />
}


@section Sidebar{
	<form class="sidebar-section" id="search" asp-controller="Post" asp-action="Index" method="get">
		<h4>Search</h4>
		<input class="search-bar" type="text" name="tags" autocomplete="off" value="@Model.SearchedTagsStr">
	</form>
	<div class="sidebar-section" id="tags">
		<h4>Tags</h4>
		<ul>
			@foreach (Tag tag in Model.Tags)
			{
				<li><a asp-route-tags="@tag.Name" class="tag-@tag.Type">@tag.Name</a>&nbsp;<span class="tag-count">@tag.PostCount</span></li>
			}
		</ul>
	</div>
	<div class="sidebar-section" id="options">
		<h4>Options</h4>
		<a asp-action="Upload">Upload</a>
	</div>
}


@if (Model.Posts.Count == 0)
{
	<h4>It's okay not to feel `whole'. Even if you feel only partly complete, if you repeat that enough, it'll eventually be `whole'. A part... is better than zero</h4>
}
<ul id="posts">


	@foreach (Post post in Model.Posts)
	{
		<li>
			<a asp-controller="Post" asp-action="Show" asp-route-id="@post.Id">
				<div class="post-preview">POST id is @post.Id</div>
			</a>
		</li>
	}
</ul>
<div id="paginator">
	<a class="nav-button">PREVIOUS</a>
	<a class="nav-button">1</a>
	<a class="nav-button">2</a>
	<a class="nav-button">3</a>
	<a class="nav-button">NEXT</a>
</div>
