@model XenoBooru.Web.ViewModels.PostViewModel

@{
	ViewData["Title"] = "Map!";
}



@section Stylesheets{
	<link rel="stylesheet" href="~/css/post_show_view.css" />
}

@section Sidebar{
	<form class="sidebar-section" id="search"><h4>Search</h4><input class="search-bar" type="text"></form>
	<div class="sidebar-section" id="tags">
		<h4>Tags</h4>
		<ul>
			@foreach (Tag tag in Model.Tags)
			{
				<li><a href="" class="@tag.Type">@tag.Name</a>&nbsp;<span class="tag-count">@tag.PostCount</span></li>
			}
		</ul>
	</div>
	<div class="sidebar-section" id="name">
		<h4>Name</h4>
		<span>@Model.Post.Name</span>
	</div>
	<div class="sidebar-section" id="decription">
		<h4>Description</h4>
		<p>
			@Model.Post.Description;
		</p>
	</div>
	<div class="sidebar-section" id="statistics">
		<h4>Statistics</h4>
		<ul>
			<li>Type: @Model.Post.Type</li>
			<li>Credits: @Model.Post.Credits</li>
			<li>Likes: @Model.Post.Likes</li>
		</ul>
	</div>
	<div class="sidebar-section" id="options">
		<h4>Options</h4>
		<ul>
			<li><a href="">Edit</a></li>
			<li><a href="">Add tag</a></li>
			<li><a href="@Model.DataUrl" download>Download</a></li>
		</ul>
	</div>
}




@switch (Model.Post.Type)
{
	case PostType.Level:
		@await Html.PartialAsync("_LevelPartial.cshtml", Model.DataUrl);
		break;
	case PostType.Artwork:
		@await Html.PartialAsync("_ArtworkPartial.cshtml", Model.DataUrl);
		break;
	case PostType.Music:
		@await Html.PartialAsync("_MusicPartial.cshtml", Model.DataUrl);
		break;
	default:
		break;
}



<div id="comments">
	<form id="comments-post" method="POST" asp-controller="Comment" asp-action="Add">
		<input type="hidden" name="PostId" value="@Model.Post.Id" />
		<input type="text" autocomplete="off" id="comment-author" name="author" placeholder="Name"/>
		<textarea id="comment-area" name="content"></textarea>
		<button>Post</button>
	</form>
	<ul>
		@foreach (Comment comment in Model.Comments)
		{
			<li class="comment">
				<div class="comment-author">
					<h4>@comment.Author</h4><span class="comment-date">@comment.Date.ToString("dd/MM/yyyy")</span>
				</div>
				<div class="comment-content">
					@comment.Content
				</div>
			</li>
		}
	</ul>
</div>


@section Scripts{

}