@model XenoBooru.Web.ViewModels.PostViewModel

@{
	ViewData["Title"] = "Map!";
}



@section Stylesheets{
	<link rel="stylesheet" href="~/css/map_view.css" />
}

@section Sidebar{
	<form class="sidebar-section" id="search"><h4>Search</h4><input class="search-bar" type="text"></form>
	<div class="sidebar-section" id="tags">
		<h4>Tags</h4>
		<ul>
			<li><a href="">tag_1</a>&nbsp;<span>182</span></li>
			<li><a href="">tag_2</a>&nbsp;<span>32</span></li>
			<li><a href="">tag_3</a>&nbsp;<span>45</span></li>
			<li><a href="">tag_4</a>&nbsp;<span>6</span></li>
		</ul>
	</div>
	<div class="sidebar-section" id="name">
		<h4>Name</h4>
		<span>@Model.Post.Name</span>
	</div>
	<div class="sidebar-section" id="decription">
		<h4>Description</h4>
		<p>
			@Model.Post.Description;
		</p>
	</div>
	<div class="sidebar-section" id="statistics">
		<h4>Statistics</h4>
		<ul>
			<li>Type: @Model.Post.Type</li>
			<li>Credits: @Model.Post.Credits</li>
			<li>Likes: @Model.Post.Likes</li>
			<li>Glitched: true</li>
			<li>Rating: Safe</li>
		</ul>
	</div>
	<div class="sidebar-section" id="options">
		<h4>Options</h4>
		<ul>
			<li><a href="">Edit</a></li>
			<li><a href="">Add tag</a></li>
			<li><a href="">Download</a></li>
		</ul>
	</div>
}

<div id="map-navigator">
	<button class="nav-button">PREVIOUS</button>
	<input type="text">
	<button class="nav-button">NEXT</button>
</div>


@await Html.PartialAsync("_LevelPartial.cshtml", Model.DataUrl)


<div id="comments">
	<form id="comments-post" method="POST">
		<textarea id="comment-area" name="comment"></textarea>
		<button>Post</button>
	</form>
	<ul>
		@foreach (var comment in Model.Comments)
		{
			<li class="comment">
				<div class="comment-author">
					<h4>@comment.Author</h4><span class="comment-date">@comment.Date</span>
				</div>
				<div class="comment-content">
					@comment.Content
				</div>
			</li>
		}
	</ul>
</div>


@section Scripts{

}